<header class="header-container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <div class="top-bar">
    <div class="contact-info">
      <span><i class="fas fa-phone"></i> (88) 999637-8288</span>
      <span><i class="fas fa-envelope"></i> nailtonvieira@gmail.com</span>
    </div>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="#">Inicial</a></li>
      <li><a href="#">Soluções</a></li>
      <li><a href="#">Cadastre-se</a></li>
      <li><a href="#">Sobre</a></li>
    </ul>
  </nav>
</header>